asgiref==3.7.2
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
dj-database-url==1.3.0
Django==3.2.23
djangorestframework==3.14.0
gunicorn==20.1.0
psycopg2==2.9.9
psycopg2-binary==2.9.6
pytz==2023.3.post1
sqlparse==0.4.4
typing_extensions==4.7.1
whitenoise==6.4.0
wincertstore==0.2